{% extends "master.html" %}
{% load static %}

{%  block title %}
About
{% endblock %}

{% block content %}
    <div class="container-sm my-5 my-4 align-self-center justify-content-center">
    <h1>It's early days...</h1>
    <h3><p style="padding-top:20px">This website hasn't been going for very long and is being updated all the time.</p>
    <p>We apologise for any mistakes or bugs, and if you think there's anything you'd want to change,
    just email us or DM our instagram and we'll get back to you ASAP :)</p></h3>
    </div>
{% endblock %}