{% extends "master.html" %}
{% load static %}

{%  block title %}
About
{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <p>We are Beat this Together</p>
    <div class="container-sm my-2 border">
    <div class="row">
    <div class="col-5">
        <p><h4><abbr>Who We Are</abbr></h4>
        Beat This Together is the student face for Beat (the UK’s largest eating disorder charity) at the
        University of Bristol. We participate in campaigning and fundraising for Beat, as well as running a range of
        educational and wellbeing events. This helps us to promote positive mental health and body image among our
        community, all while increasing the the conversation around eating disorders and weight stigma.</p>
        <p><h4><abbr>What We Do</abbr></h4>
        <ul>
            <li>Body Positivity Talks</li>
            <li>Fundraising for Beat Uk</li>
            <li>Raising awareness</li>
        </ul></p>

    </div>
        <div class="col-7"><img src="{% static "/images/Logo.jpg" %}",
                                width="462px",
                                height="353",
                                class="rounded float-right",
                                alt="Logo"/></div>
    </div>
    </div>
    {% include "footer.html"%}
{% endblock %}