{% extends "master.html" %}
{% load static %}

{%  block title %}
About
{% endblock %}

{% block content %}
    <div class="container-fluid my-5 my-4 align-self-center justify-content-center">
    <div class="row no-gutters h-100">
        <div class="col col-xs col-sm col-md-4 col-lg-4 col-xl-4">
            <div class="container-fluid my-2 border rounded-border bg-transparent" style="height:100%">
    <h1>It's early days...</h1>
    <h3><p style="padding-top:20px">This website hasn't been going for very long and is being updated all the time.</p>
    <p>We apologise for any mistakes or bugs, and if you think there's anything you'd want to change,
    just email us or DM our instagram and we'll get back to you ASAP :)</p></h3>
    </div>
        </div>

    <div class="col col-sm col-md-8 col-lg-8 col-xl-8">
        <div class="container-fluid my-2 border rounded-border bg-transparent" style="height:100%">
    <h1>About Us</h1>
    <h4><p>We are Beat this Together, a University of Bristol society dedicated to raising awareness of eating disorders,
     increasing body positivity and body neutrality, and fundraising for Beat UK.</p>
    <p>We've done this through a range of body positivity talks with sports societies, talks with schools about mental
    well-being at university, and various fundraising events within the University of Bristol. Beat this Together puts
     everything we can into battling eating disorder stigma and increasing awareness, and over the years has generated lots
    of attention, as well as participation, at the University.</p>
    <p>If this sounds like your kind of thing and you fancy joining the team, go to the
        <a href="https://www.bristolsu.org.uk/groups/beat-this-together-2c86">UoB SU website </a>to join today!</p></h4>
    </div>
    </div>
    </div>
</div>
{% endblock %}