<!DOCTYPE html>
<div lang="en">
{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <title>
        Beat this Together Blog
    </title>
    <link rel="icon" href="{% static "/favicon.ico" %}" type="image/x-icon">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container-fluid">
  <ul class="navbar fixed-top navbar-expand bg-white opacity-75" style="background:transparent">
      <a class="topnav-right" href="/"><img src="{% static "/images/Logo.jpg" %}" width="50" height="40"/></a>
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/blogIndex">Blog</a>
      <a class="nav-link" href="/resources">Resources</a>
  </ul>

<div class="row d-none d-sm-none d-md-block text-center mt-5" style="background:transparent url({% static "/images/banner.jpg" %}) center;
        height:100%;">
<div class="col text-center h-100">
<img src="{% static "/images/Logo_no_bg.png" %}" alt="Logo" class="img-fluid" width="20%" height="100%" style="object-fit: cover;"/>
</div>
</div>

<div class="row d-block d-sm-block d-md-none text-center mt-5" style="background-image: linear-gradient(#72a17e, #7dab87, #c4d2ac)">
    <div class="col text-center h-100">
        <img src="{% static "/images/Logo_no_bg.png" %}" alt="Logo" class="img-fluid" width="75%" height="100%" style="object-fit: cover;"/>
    </div>
</div>

<div class="content">
{% block content %}
{% endblock %}
</div>

<div class="blogContent">
    {% block blogContent %}
    {% endblock %}
</div>
</div>
</body>

<div class="row text-center" style="background:transparent url({% static "/images/banner.jpg" %}) top">
{% include "footer.html"%}
</div>

</html>
</div>