<!DOCTYPE html>
<html lang="en">
<style>
    .content{
        text-align: center;
    }
    ul{
        display:inline-block;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container-fluid">
  <ul class="nav bg-info bg-dark">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/blogIndex">Blog</a>
    </li>
  </ul>

<div class="content">
{% block content %}
{% endblock %}
</div>

</body>
</html>