{% extends 'master.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col" style="text-align:center">
            <ul style="list-style: none;">
                <li><a href="https://www.beateatingdisorders.org.uk/">Beat UK</a></li>
                <li><a href="https://www.mind.org.uk/">Mind</a></li>
                <li><a href="https://www.nhs.uk/mental-health/feelings-symptoms-behaviours/behaviours/eating-disorders
                /overview/">NHS Eating Disorders Page</a></li>
            </ul>
        </div>
        <div class="col" style="text-align: left">
            <h2>More resources coming soon!</h2>
        </div>
    </div>
    </div>
{% endblock %}